<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- SEO Meta Tags -->
  <title>{{ if .Title }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
  <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  <meta name="author" content="{{ .Site.Params.author | default "Antoine Verhulst" }}">

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
  <meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ .Permalink }}">

  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
  <meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/favicon.ico">

  <!-- CSS -->
  {{ $css := resources.Get "css/main.css" }}
  {{ $css = $css | resources.Minify }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}">

  <!-- Robots -->
  {{ if .Site.Params.robotstxt }}
  <meta name="robots" content="index, follow">
  {{ end }}
</head>
<body>
  <!-- Header/Navigation -->
  {{ partial "header.html" . }}

  <!-- Main Content -->
  <main>
    {{ block "main" . }}{{ end }}
  </main>

  <!-- Footer -->
  {{ partial "footer.html" . }}
</body>
</html>
