[submodule "themes/academia-hugo"]
    path=themes/academia-hugo
    url="https://github.com/themefisher/academia-hugo"
[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
