[submodule "themes/academia-hugo"]
    path=themes/academia-hugo
    url="https://github.com/themefisher/academia-hugo"
[submodule "themes/adritian"]
	path = themes/adritian
	url = https://github.com/zetxek/adritian-free-hugo-theme.git
