{{/*
  contact-section: A shortcode for the contact section
  Parameters:
  - id: HTML id for the section
  - title: Section title
*/}}
{{ $sectionId := .Get "id" | default "contact" }}
{{ $title := .Get "title" | default "" }}

<section id="{{ $sectionId }}" class="section section--contact section--border-bottom rad-animation-group section--padding">
    <div class="container">
        <div class="row rad-fade-down">
            <div class="col-12">
                {{ if $title }}
                <h2 class="section__title">{{ $title }}</h2>
                {{ end }}
                <div class="contact-section__content">
                    {{ .Inner | markdownify }}
                </div>
            </div>
        </div>
    </div>
</section>
